.container {
    background-color: #EFEFEF;
}

.container.light_theme {
    background-color: #EFEFEF;
}

.container.dark_theme {
    background-color: #222222;
}

.home_main {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease, color 0.5s ease;
    padding-top: 10rem;
}

.grid {
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.graphics,
.transation {
    background-color: #272727;
    border-radius: 20px;
    box-shadow: 0px 1px 4px #000000a1;
}

.totalFinances{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graphics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.transation {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: cente;
}

.historyList {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 450px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
    background-color: #222222;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

.historyList input {
    background-color: #ffffff00;
    color: #fff;
    height: 25px;
    width: 85%;
    margin-top: .2rem;
    padding-left:.5rem;
    border: 2px solid #fff;
    border-radius: 10px;
}

@media (max-width: 1024px) {

    .grid {
        grid-template-columns: 1fr;
    }

    .transation {
        grid-row: 1;
    }
}

@media (max-width: 480px) {
    .historyList{
        padding-bottom: 1rem;
    }

    .transation{
        max-width: 370px;
    }

}